html, body, div, p, a, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 141.24%;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
}

.rocky-container {
    max-width: 1440px;
    position: relative;
    margin: 0 auto
}

/* Navbar */
.rocky-navbar {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* height: 95px; */
}

.navbar {
    padding-top: 26.36px;
    padding-bottom: 26.36px;
}

.logo-wrapper {
    margin-left: 10.416667%;
    display: flex;
    flex-direction: row;
}

.navbar-brand {
    margin-right: 12px;
}

.navbar-brand img {
    width: 90px;
    height: 30px;
}

.logo-text {
    width: 133px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14.5px;
    color: #2F2F2F;
    line-height: 100.21%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
}

.navbar-nav {
    margin-left: 5%;
}

.nav-link {
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2F2F2F !important;
}

.nav-link:hover {
    color: white !important;
    background-color: #09257A !important;
}

/* Banner */
.banner {
    width: 100%;
    min-height: 1024px;
    padding-left: 10.416667%;
    padding-right: 10.416667%;
    background-image: url('../images/banner.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h6 {
    max-width: 515px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 144%;
}

.banner h1 {
    margin-top: 13px;
    max-width: 653px;
    min-height: 119px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 130%;
}

.banner p {
    margin-top: 38px;
    max-width: 543px;
}

.banner button {
    background: #04726D;
    border-radius: 65px;
    width: 199px;
    height: 64px;
    margin-top: 23px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.banner button:hover {
    color: #04726D;
    border: 1px solid #04726D;
    background-color: white;
}

/* Subjects */
.subjects {
    width: 100%;
    padding-top: 82px;
    text-align: center;
    background-color: #09257A;
}

.subjects h2 {
    color: white;
}

.subjects>p {
    margin-top: 11px;
    color: white;
}

.subjects-wrapper {
    margin-left: 14.444444%;
    margin-right: 14.444444%;
    margin-top: 65px;
}

.subject-item p {
    margin-top: 20.43px;
    margin-bottom: 96px;
    color: white;
}

/* Rewards */
.rewards {
    background-image: url('../images/rewards.png');
    width: 100%;
    min-height: 1024px;
    padding-left: 10.416667%;
    padding-right: 10.416667%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.rewards-filter {
    position:absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #FFFFFF 22.22%, rgba(255, 255, 255, 0) 100%);
    min-height: 1024px;
    max-width: 1024px;
    width: 100%;
    z-index: 1;
}

.rewards-content {
    position: relative;
    z-index: 2;
}

.rewards-content>p {
    max-width: 458px;
    margin-top: 15px;
}

.rewards-content>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #09257A;
    border-radius: 65px;
    color: white;
    height: 22px;
    margin-top: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 143.16%;
    padding: 0px 13px;
    gap: 7px;
}

.rewards-content>button:hover {
    color: #09257A;
    background-color: white;
    border: 1px solid #09257A;
}

/* Competition */
.competition {
    background-image: url('../images/competition.png');
    min-height: 1177px;
    padding-top: 130px;
    padding-left: 10.416667%;
    padding-right: 10.416667%;
    color: white;
    text-align: center;
}

.competition-subtitle {
    margin: 23px auto 0;
    max-width: 830px;
}

.processes-wrapper {
    padding-top: 98px;
}

.process-item img {
    margin-bottom: 24.13px;
}

.process-item {
    margin-bottom: 90px;
}

.process-item-text {
    width: 225px;
    margin: 10px auto 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.line {
    border: 2px solid white;
    margin-bottom: 61px;
}

.competitions-wrapper {
    padding-top: 45px;
}

.competition-item {
    margin-bottom: 90px;
}

.competition-date {
    margin-top: 18.57px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 131.23%;
}

.competition-subject {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin-top: 12px;
}

/* Blogs */
.blogs {
    min-height: 593px;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.blogs>h3 {
    color: #333333;
}

.blogs-wrapper {
    justify-content: center;
    width: fit-content;
    margin: 30px auto 0px;
}

.blogs-wrapper>div {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-item {
    width: 263px;
    height: 290px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.blog-item>img {
    border-radius: 4px 4px 0px 0px;
}

.blog-item>div {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.issue-date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 140.62%;
    width: fit-content;
}

.blog-tag {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 1.5px 8px;
    gap: 10px;
    background: #F5F5F5;
    border-radius: 2px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 140.62%;
    width: fit-content;
}

.blog-item h4 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #2F2F2F;
    text-align: left;
}

/* Contact */
.contact {
    background-color: #F5F5F5;
    padding-top: 71px;
    padding-bottom: 60px;
    text-align: center;
}

.contact>h3 {
    color: #2F2F2F;
}

.contact>p {
    margin-top: 13px;
    margin-bottom: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2F2F2F;
}

.form-wrapper {
    width: fit-content;
    margin: 0 auto;
}

.form-wrapper>div {
    padding-right: 15px;
    padding-left: 15px;
    max-width: fit-content;
    margin: 0 auto;
}

.form-wrapper input, .form-wrapper select, .form-wrapper a, .form-wrapper button {
    display: block;
}

.form-wrapper input, .form-wrapper select {
    width: 369px;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #707070;
    margin: 15px auto 0;
    border: 1px solid #2F2F2F;
    border-radius: 3px;
    padding: 6px 8px;
}

.form-wrapper a {
    text-decoration: underline !important;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
}

.form-wrapper button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 13px;
    gap: 7px;
    background: #236477;
    border-radius: 65px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 143.16%;
    color: white;
    height: 30px;
    margin-top: 13px;
}

.form-wrapper button:hover {
    background-color: white;
    color: #236477;
    border: 1px solid #236477;
}

/* Footer */
.footer {
    height: 72px;
    background-color: #2F2F2F;
    color: white;
    padding-right: 10.347222%;
    padding-left: 10.347222%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}